.buttons-watch-container{
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    grid-area: buttons;
}

.buttons-container.hide{
    display: none;
}


.new-game-btn{
    max-height: 40px;
    cursor: pointer;
    appearance: button;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: din-round,sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 130px;

}

.new-game-btn:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.new-game-btn:main,
.new-game-btn:focus {
    user-select: auto;
}

.new-game-btn:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.new-game-btn:disabled {
    cursor: auto;
}

.new-game-btn:active {
    border-width: 4px 0 0;
    background: none;
}

.buttons-container{
    display: flex;
    justify-content: space-around
}

@media screen and (min-width : 922px) {
    .buttons-container{
        flex-direction: row;
        padding: 85px;
    }

    .new-game-btn{
        width: 200px;

        font-size: 25px;
    }

    
}