.hint-container{
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-rows: min-content;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    span{
        display: block;
    }
    div{
        width: auto;
        height: auto;
    }
    .hint-wrapping{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 50%;
    }
    img{
        align-self: center;
    }
    span{
        align-self: center;
    }
}

.image-hint{
    width: 20px;
    height: 20px;
    filter: opacity(0.2) drop-shadow(0 0 0 yellow);
}

.hint-container.kids{
    span{
        display: none;
    }
    .hint-wrapping{
        width: 75px;
        height: 75px;
        background-color: yellow;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        border-radius: 50%;
        font-size: xx-large;
        font-weight: 700;
    }
}

@media screen and (min-width : 922px) {
    .hint-container.kids{
        .hint-wrapping{
            width: 150px;
            height: 150px;
        }
    }
    
}