@viewport {
    width: device-width;
    zoom:1;
 }

 .app{
    height: 100%;
    flex-direction: column;
    display: flex;
 }
 
 .app-bg-container{
    background-image: url("../imgs/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
 }

.app-container{
    display: grid;
    height: 100%;
    grid-template-areas: 'buttons' 'display-panel' 'main-display';
    margin-inline: 5px;
    grid-template-rows: 0.2fr 0.2fr 2.7fr;
}

.table-container{
    width : 100%; 
    height : 100%;   
    font-size: 26px;  
    grid-area: main-display;
}

.header-container{
    height: 40px;
}

.header-bg-container{
    background-image: linear-gradient(aquamarine, #80acff);
    height: 100%;
}

.header-sub-container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-inline: 10px;
}

.td{
    background-color: #bbb2b2;
    text-align:center;
    padding: 7px;
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0;
}

@media screen and (min-width : 922px) {
    .table-container{
        font-size: 16px;   
    }

    .header-container{
        font-size: 16px;
    }

    .header-sub-container{
        font-size: 26px;
    }

    h1{
        margin: 50px;
    }

    .td{
        padding: 15px;
    }

    .kids-mode-image{
        margin-right: 130px;
    }

    .app-container{
        margin-inline: 20px;
    }

    .table.big{
        font-size: 90px;
    }

    .adult-mode-image{
        width: 150px !important;
        height: 150px !important;
    }
}

body{
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-family: Comic Sans MS;
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    height: 100%;
}

.myDynamicTable{
    display: flex;
    justify-content: center;
    height: 100%;
    align-content: start;
    margin-block-start: 10px;
    flex-wrap: wrap;
}



.table{
    font-size: 22px;
    background-color: lightgreen;
    font: bold;
}

.table.big{
    font-size: 45px;
}

.td.choose{
    background-color:  rgb(248, 184, 65);
}


.links{
    cursor: pointer;
    margin-inline: 10px;
}

.title{
    margin-inline: 10px;
}

.difficulty-selector{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    color: white;
    background-color: #80acff;
    font-size: 15px;
    font-weight: bold;
}

.pause-modal{
    width: 100%;
    height: 100%;
    background-image: url("../imgs/woodenBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.display-panel-container{
    grid-area: display-panel;
    display: none;
    grid-template-rows: auto;
}

.adult-mode-image{
    border-radius: 50%;
    cursor: pointer;
    width: 75px;
    height: 75px;
}

.kids-mode-image{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.stop-watch-container{
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}
