.pause-menu-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.pause-sub-menu-container{
    position: relative;
    top: 90%;
    transform: translate(0, -100%);
    display: grid;
    grid-template-rows: 1fr 0.2fr 1.6fr 0.2fr 1.5fr;
    grid-template-areas: 
    "."
    "title"
    "."
    "button"
    ".";
    align-content: center;
    background-image: url("../imgs/sub-menu-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 40%;
    width: 200px;
}

.container {
    width: 200px;
    height: 200px;
    border: 3px solid #cccccc;
    resize: both;
    overflow: hidden;
  }
  
  .inner {
    width: 70%;
    height: 100%;
    display: inline-block;
    position: relative;
  }
  
  .pause-menu-container-img {
    height: 100%;
    width: auto;
  }

  .resume-button{
    height: 50px;
    aspect-ratio: 1 / 1;
    width: fit-content;
    justify-self: center;
    grid-area: button;
    border-radius: 50%;
    filter: opacity(0.4) drop-shadow(0 0 0 green);
    margin-left: 50px;
  }

  .pause-menu-title{
    width: 75%;
    justify-self: right;
    grid-area: title;
    min-width: 60px;
  }


  .title-wrap{
    font-weight: 300;
    padding: 10px;
    font-size: 18px;
    justify-self: center;
  }

  @media screen and (min-width : 450px) {
    .pause-sub-menu-container{
      height: 50%;
      width: 320px;
    }

    .pause-menu-title{
      width: 85%;
    }

    .resume-button{
      height: 70px;
    }
  }

  @media screen and (min-width : 640px) {
    .pause-sub-menu-container{
      height: 60%;
      width: 400px;
    }

    .title-wrap{
      font-size: 30px;
    }
  }

  @media screen and (min-width : 922px) {
    .resume-button{
        height: 100px;
        align-self: flex-end;
        margin-left: 20px;
    }

    .title-wrap{
        font-weight: 300;
        font-size: 50px;
        padding: 10px;

    }

    .pause-menu-title{
      justify-self: center;
    }

    .pause-sub-menu-container{
      height: 65%;
      width: 500px;
    }
  }

