.pause-menu-container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100%;
}

.pause-sub-menu-container{
    position: relative;
    top: 85%;
    right: 30px;
    transform: translate(0, -100%);
    display: grid;
    grid-template-rows: 0.7fr 0.7fr 0.7fr 0.7fr 0.7fr 1.5fr;
    grid-template-areas: 
    "."
    "title"
    "music"
    "effects"
    "restart"
    "button";
    align-content: center;
    background-image: url("../imgs/sub-menu-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 270px;
}

.container {
    width: 200px;
    height: 200px;
    border: 3px solid #cccccc;
    resize: both;
    overflow: hidden;
  }
  
  .inner {
    width: 70%;
    height: 100%;
    display: inline-block;
    position: relative;
  }
  
  .pause-menu-container-img {
    height: 100%;
    width: auto;
  }

  .pause-menu-title{
    width: 65%;
    justify-self: right;
    grid-area: title;
    min-width: 60px;
  }

  .title-wrap{
    font-weight: 300;
    padding: 10px;
    font-size: 18px;
    justify-self: center;
  }

  .options-button {
    background-color:  hsl(31.94deg 96.88% 74.9%);/* #c28b69; /* Wooden background color */
    color: #fff; /* Text color */
    font-size: 16px; /* Adjust font size */
    font-weight: 700;
    font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
    padding: 10px 30px;
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded edges */
    position: relative; /* Needed for pseudo-elements */
    text-shadow: 5px 5px 5px #7c4d33; /* Slight shadow for depth */
    box-shadow: 0 12px #7c4d33; /* Shadow to give a 3D effect */
    -webkit-text-stroke: 0.7px black; /* width and color */
  }

  .pause-menu-music{
    grid-area: music;
    display: flex;
    justify-content: center
  }
  .checkbox {
    width: 50px;
    height: 50px;
    background-color: #f4d7b5; /* Light brown color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 3px solid #c48f5a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .checkbox.checked {
    background-color: #e1b87f; /* Slightly darker brown when checked */
  }
  
  .checkmark {
    width: 24px;
    height: 24px;
  }

  .pause-menu-effects{
    grid-area: effects;
    display: flex;
    justify-content: center;
    width: 100%;

  }

  .pause-menu-restart{
    grid-area: restart;
    display: flex;
    justify-content: center;
    width: 100%;

  }

  .resume-button{
    height: 50px;
    aspect-ratio: 1 / 1;
    width: fit-content;
    justify-self: center;
    grid-area: button;
    border-radius: 50%;
    filter: opacity(0.4) drop-shadow(0 0 0 green);
    margin-left: 50px;
  }

  @media screen and (min-width : 450px) {
    .pause-sub-menu-container{
      width: 400px;
      right: 0px;
      height: 350px;
      top: 75%;
    }

    .pause-menu-title{
      justify-self: center;
      width: 145px;
    }

    .resume-button{
      height: 70px;
    }

    .options-button {
      font-size: 20px; /* Adjust font size */
      font-weight: 700;
    }
  }

  @media screen and (min-width : 640px) {
    .pause-menu-container{
      display: grid;
    }

    .pause-menu-title{
      justify-items: center;
      width: 200px;
    }

    .pause-sub-menu-container{
      height: 400px;
      width: 460px;
      top: 110%; 
    }

    .title-wrap{
      font-size: 30px;
    }

    .options-button {
      font-size: 30px; /* Adjust font size */
      font-weight: 700;
      -webkit-text-stroke: 2px black; /* width and color */
    }
  }

  @media screen and (min-width : 922px) {
    .resume-button{
        height: 100px;
        margin-left: 20px;
    }
    
    .options-button {
      font-size: 42px; /* Adjust font size */
      font-weight: 700;
    }

    .title-wrap{
        font-weight: 300;
        font-size: 50px;
        padding: 10px;

    }

    .pause-sub-menu-container{
      height:  600px;
      width: 500px;
      top: 95%;
    }

    .pause-menu-title{
      justify-items: center; 
    }
  }

  @media screen and (min-width : 1050px) {
    .pause-sub-menu-container{
      height:  600px;
      width: 700px;
    }

    .pause-menu-title{
      width: 45%;
    }

    .inner{
      justify-self: center;
      width: 700px;
    }
  }

