



.stop-watch {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-rows: auto;
  grid-template-rows: min-content;
  grid-template-columns: 1fr 1fr;
  align-self: center;
}

.stop-watch.hide {
  display: none;
}

@media screen and (min-width : 922px) {
  .stop-watch-container{
    display: flex;
    grid-template-columns: min-content;
  }
}